@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    text-align: center;
    font-family: "Lato", sans-serif;
}

h1 {
    margin: 3rem 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    padding: 3rem;
    border: solid #1e1d1d;
    border-radius: 7px;
}

#add{
    margin-bottom: 2rem;
    font-size: 18px;
}

#inputNumber {
    margin: 0 2rem;
    width: 120px;
    font-size: 18px;
    text-align: center;
    outline: none;
    padding: 5px;
    border: 1px solid #ccc;
}

#selNumber {
    width: 200px;
    border-radius: 5px;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem;
    font-size: 16px;
}

#selNumber option {
    margin-top: 4px;
}
.btn {
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid blue;
    color: blue;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s;
}

#btnEnd {
    width: 200px;
    margin: 0 auto;
}

#resultArea {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    gap: 1rem;
    align-items: flex-start;
}


